@font-face {
    font-family: "Satoshi";
    src: url(../font/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

body {
    font-family: "Satoshi";
    background-color: black;
    color: #FFFFFF;
}

.container-header {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    width : 100%; 

    

    }
    
.container-header, .left-title {    
font-size: 1.5rem;
font-weight:bold;
color : #FFFFFF; 
    }

.container-header__nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap : 2rem;
    font-size: 1rem;
    font-weight: bold;
    }

.picture-center__hero-banner  {
    margin-left: 1rem;
    margin-right: 1rem;
    width : 100%;

}

/*

.container__header {
    margin-bottom: 1rem;
}

}
.picture__center, .hero-banner img {
    width: 100%;
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
    margin-left: 0.5rem;
    border-radius: 15px;


}

.first-title {
    display: block;
    width: 100%;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    padding-bottom: 4rem;
}

.second-title {
    display: block;
    width: 100%;
    color: white,
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    margin-top : 3rem;
    padding-top : 5rem;
     
}

/*