@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
    font-family: "Satoshi", sans-serif;
    background-color: black;
    color: #FFFFFF;
    width: 100%;
}

.container-header {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width : 100%;


    }
    
.container-header__left-title { 
color: #FFFFFF;
font-weight: 900;
font-size: 2rem;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 1rem;

    }

.container-header__navig-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap : 2rem;
    font-size: 1.2rem;
    font-weight: 900;

    }

.picture-center__hero-banner  {
    width : 100%;
    border-radius: 30px;
    height: 100vh;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    }

.picture-center__first-title {
    position : absolute;
    z-index: 2;
    top : 53%;
    left: 40%;
    color : #FFFFFF;
    display: block;
    font-size: 3.5rem; 
    font-weight: 900;
}

.picture-center__second-title {
    position: absolute;
    z-index: 2;
    color : #FFFFFF; 
    top : 65%;
    left: 30%;
    display: block;
    font-size: 1.3rem; 
    font-weight:900;
    letter-spacing: 0.1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    ;
}

h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

h1::before,
h1::after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 2rem;
  background: #A29BFE;
  border-radius: 2px;
}

strong {
  color: #A29BFE;
}

.grid-container__services {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bloc1-services, .bloc2-services, .bloc3-services, .bloc4-services, .bloc5-services {
  border : 1px solid #A29BFE;
  border-radius: 15px;
  text-align: center;
  align-content: space-around;
} 

.services-grid {
  color : #A29BFE;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card {
  color : #FFFFFF;
  font-size: 10rem;
  font-weight:500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card {
  color : #FFFFFF;
  font-size: 1rem;
  font-weight:500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card__tarif {
  display: inline-block;
  color : #FFFFFF;
  background-color: #A29BFE;
  font-size: 1rem;
  font-weight:900;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding : 1rem;
  border-radius: 30px;
  
}

.services-grid__card__tarif__conditions {
  color : #FFFFFF;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;

}

.bloc1-services {
  grid-row: 1 / 3;
}

.bloc2-services {
  grid-column: 2 / 4;
}

.bloc3-services {
  grid-row: 2;
  grid-column: 2;
}

.bloc4-services {
  grid-row: 2 / 4;
  grid-column: 3;
}

.bloc5-services {
  grid-row: 3;
  grid-column: 1 / 3;
}


.grid-container__heros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap : 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bloc1-heros, .bloc2-heros, .bloc3-heros, .bloc4-heros, .bloc5-heros, .bloc6-heros  {
  position: relative;
}

.hero-name__description {
  position:absolute;
  display: block;
  width: 100%;
  top : 50%;
  left: 0%;
  padding-bottom: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 2rem;
}

.picture-hero {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.hero-name__description--hidden {
  top : 0%;
  left: 0%;
  padding: 1rem;
  padding-bottom: 5rem;
  color: #FFFFFF;
  font-style: italic;
  font-size: 1.2rem;
  position:absolute;
  background-color: rgba(162, 155, 254, 0.5);
  display: block;
  width: 100%;  
  opacity: 0%;
  transition: opacity 0.3s ease;
  text-align: center;
}

.bloc1-heros:hover .hero-name__description--hidden, 
.bloc2-heros:hover .hero-name__description--hidden,
.bloc3-heros:hover .hero-name__description--hidden,
.bloc4-heros:hover .hero-name__description--hidden,
.bloc5-heros:hover .hero-name__description--hidden,
.bloc6-heros:hover .hero-name__description--hidden {
  opacity: 1;
}

.description-text {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-name__description--end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.heroes-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-heroes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: block;
  background-color: #A29BFE;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 900;
  
  width: 10%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 30px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.containers-blocs {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: -1rem;
}

.bloc1-client, .bloc2-client, .bloc3-client, .bloc4-client { 
  width: 300px;
  margin: 50px auto;
  background: linear-gradient(180deg, #A29BFE 0%, #938CE6 100%);
  border-radius: 40px;
  box-shadow: 0 8px 40px 0 rgba(162,155,254,0.25);
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.picture-client {
  width: 300px;
  height: 300px;
  background: #938CE6;
  border-radius: 50%;
  border: 8px solid #A29BFE;
  object-fit: cover;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 16px 0 rgba(162,155,254,0.32);
  z-index: 2;
}

.client-name {
  margin-top: 8rem;
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}

.client-name__testimonial {
  margin: 1.5rem 2rem 0 2rem;
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.formulaire {
  display: flex;
  flex-direction: column;
  gap : 1rem;
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 900;
}

.formulaire-field {
  padding-top: 2rem;
  background-color: #4D4D4D;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
}

.formulaire-field__service {
  padding-top: 2rem;
  background-color: #4D4D4D;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  line-height: 2rem;
}

.formulaire-field__message {
  background-color: #4D4D4D;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
}

textarea {
  height: 8rem;
}

.formulaire-field__button {
  text-align: center;
  background-color: #A29BFE;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  background-color: #856CFF;
  color:#FFFFFF;
  border-top-right-radius: 85px;
  border-top-left-radius: 85px;
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  padding-top: 2rem;
}

.footer-title__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-style: italic;
  justify-content: center;
  padding-top: 2rem;
}

.foot__nav_item {
  display: block;
}

.footer__copyright {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  font-family: "Satoshi", Arial, sans-serif;
  font-weight: 100;
  color: #fff;
}




