@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../E04-SA03E04-bonus-heroes-league-BrahimElGhachi/font/Satoshi_Complete/Fonts/OTF/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
    font-family: "Satoshi", sans-serif;
    background-color: black;
    color: #FFFFFF;
    width: 100%;
}

.container-header {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width : 100%;


    }
    
.container-header__left-title { 
color: #FFFFFF;
font-weight: 900;
font-size: 2rem;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 1rem;

    }

.container-header__navig-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap : 2rem;
    font-size: 1.2rem;
    font-weight: 900;

    }

.picture-center__hero-banner  {
    width : 100%;
    border-radius: 30px;
    height: 100vh;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    }

.picture-center__first-title {
    position : absolute;
    z-index: 2;
    top : 53%;
    left: 40%;
    color : #FFFFFF;
    display: block;
    font-size: 3.5rem; 
    font-weight: 900;
}

.picture-center__second-title {
    position: absolute;
    z-index: 2;
    color : #FFFFFF; 
    top : 65%;
    left: 30%;
    display: block;
    font-size: 1.3rem; 
    font-weight:900;
    letter-spacing: 0.1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    ;
}

strong {
  color: #A29BFE;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}

.bloc1, .bloc2, .bloc3, .bloc4, .bloc5 {
  border : 1px solid #A29BFE;
  border-radius: 15px;
  text-align: center;
} 

.services-grid {
  color : #A29BFE;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card {
  color : #FFFFFF;
  font-size: 1rem;
  font-weight:500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card {
  color : #FFFFFF;
  font-size: 1rem;
  font-weight:500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.services-grid__card__tarif {
  display: inline-block;
  color : #FFFFFF;
  background-color: #A29BFE;
  font-size: rem;
  font-weight:900;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding : 1rem;
  border-radius: 30px;
  
}

.services-grid__card__tarif__conditions {
  color : #FFFFFF;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 10rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;

}

